# Software Engineering Practices 

## Writing clean code

- Use meaningful names 
- Be descriptive and imply type: E.g. for booleans, use prefix `is_` or `has_` to make clear it is a condition.

In [5]:
age_list = [47, 12, 28]

for i, age in enumerate(age_list):
    if age < 18:
        is_minor = True
        age_list[i] = "minor"
        
age_list

[47, 'minor', 28]

- Be consistend but clearly differentiate
- Avoid abbreviations and especially single letters
- Long names $\neq$ descriptive names

## Writing modular code

- DRY: Don't repeat yourself
- Abstract out logic to improve readability
- Minimize the number of entities (functions, classes, modules, etc.)
- Functions should do one thing
- Arbitrary variable names can be more effective in certain functions. 
- Try to use fewer than three arguments per function.

## Quiz: Refactoring - Wine quality

In [90]:
import pandas as pd
df = pd.read_csv("../data/winequality-red.csv", sep=";")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### Renaming Columns

We would like to reference to the column names using dot notation. In order to do this we have to replace the white space `" "` by an underscore `"_"`.

In [91]:
labels = []

for col in list(df.columns):
    labels.append(col.replace(" ", "_"))
    
df.columns = labels
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### Analyzing Features